<body>

  <img class="woof-logo" src="../../../assets/images/logotexto.png" />

  <p class="slogan">Find your dog.</p>
  
  <div class="flex-container text-center">

    <a href="/lost">
      <img 
      class="find" src="../../../assets/images/find.png" 
      onmouseover="this.src='../../../assets/images/findhover.png';" 
      onmouseout="this.src='../../../assets/images/find.png';"/>
    </a>

    <a href="/adoption">
    <img 
      class="adopt" src="../../../assets/images/adopt.png" 
      onmouseover="this.src='../../../assets/images/adopthover.png';"
      onmouseout="this.src='../../../assets/images/adopt.png';" />
    </a>

  </div>
</body>