<div *ngIf="currentUser._id === dog.owner">
<button *ngIf="dog._id" (click)="deleteDog()">Delete</button>
</div>

<div>
  <a [routerLink]="['/adoption']">Take me back to list</a>
</div>


<!-- update dog area -->
<div *ngIf="currentUser._id === dog.owner">
<form (ngSubmit)="doUpdate(dog._id, myForm)" #myForm="ngForm" >

    <label for="dog-description-input"> Dog Description </label> 
    <input id="dog-description-input" type="text"  [(ngModel)]="dog.description" name="dogDescription" value="{{ dog.description }}">
    <br>

    <!-- <label for="dog-image-input"> Image </label>
    <input id="dog-image-input" type="file" name="dogImage" ng2FileSelect [uploader]="myUploader">
    <br> -->

    <p></p>

    <button type="submit">Save updates</button>
  </form>
</div>

<p>Do you want to take this dog home?</p>
<p>Contact user:</p>
<p>{{ dog.ownerEmail }}</p>