
<p>{{ dog.description }}</p>
<img [src]="baseUrl + dog.image"/>

<button *ngIf="dog._id" (click)="deleteDog()">Delete</button>

<div>
  <a [routerLink]="['/adoption']">Take me back to list</a>
</div>


<!-- update dog area -->

<form (ngSubmit)="doUpdate(dog._id, myForm)" #myForm="ngForm" >

    <label for="dog-description-input"> Dog Description </label> 
    <input id="dog-description-input" type="text"  [(ngModel)]="dog.description" name="dogDescription" value="{{ dog.description }}">
    <br>

    <!-- <label for="dog-image-input"> Image </label>
    <input id="dog-image-input" type="file" name="dogImage" ng2FileSelect [uploader]="myUploader" value ="{{ dog.filename }}">
    <br> -->

    <button type="submit">Save updates</button>
  </form>