<div class="new-dog">
<h3>Add a new dog</h3>
  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

<form (ngSubmit)="saveNewDog()">

  <label for="dog-description-input"> Dog Description </label><br>
  <input 
  id="dog-description-input" 
  type="text" placeholder="Dog Description" 
  [(ngModel)]="newDog.dogDescription" 
  name="dogDescription" required>
  <br>
  <label class="file-link" for="dog-image-input"> Image </label>
  <input class="file-upload" id="dog-image-input" type="file" name="dogImage" ng2FileSelect [uploader]="myUploader">
  <br>
  <button> Save New Dog </button>
</form>
</div>