.form-image{
    width: 100%;
    height: 25vh;
    background-image: url("../../../assets/images/Background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-login{
    background-color:#c9c0b1;
    height: 67vh;
    width: 100%;
    padding-top: 50px;
}

.form-group{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 25px;
}

.signup-img{
    display: block;
    margin: 0 auto;
    padding: 50px 20px;
}

.form-user{
    background-color: #febf50;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    bottom: 0px;
    position: relative;
}

label{
    color: #febf50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
}

.form-control{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
}

button{
    background-color: rgb(216, 68, 68);
    color: white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
}

button:hover{
    background-color: #0495b9;
}

a{
    color:#0495b9;
    text-decoration: none;
}

a:hover{
    color: rgb(216, 68, 68);
}

.error{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5vh;
    color: rgb(216, 68, 68);
}
