<nav class="navbar navbar-default">

    <a class="navbar-brand" href="/">
        <img class="paw-logo" src="../../assets/images/Paw.png" alt="Logo" onmouseover="this.src='../../../assets/images/Pawhover.png';"
            onmouseout="this.src='../../../assets/images/Paw.png';">
    </a>

    <a class="username mr-auto" *ngIf="currentUser">
        Hello, {{ currentUser.username }}!
    </a>

    <div class="navbar-text ml-auto">
 
            <a *ngIf="!isLoggedIn" [routerLink]="['/signup']">Sign Up</a>
    
            <a *ngIf="!isLoggedIn" [routerLink]="['/login']">Log In</a>
     
            <a [routerLink]="['/adoption']">Adoption</a>
       
            <a [routerLink]="['/lost']">Lost Dogs</a>

            <a *ngIf="isLoggedIn">
                <button class="btn btn-link" (click)="logMeOut()"> Log Out </button>
                <p *ngIf="logoutError" class="error">{{ logoutError }}</p>
            </a>
     
    </div>

</nav>