<body>
  <div class="form-group">
    <h3> Sign Up </h3>

    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>

    <form (ngSubmit)="doSignUp()">

      <label for="username-input"> Username</label><br>
      <input id="username-input" type="text" placeholder="blah" [(ngModel)]="signUpInfo.username" name="usernameValue">
      <br>
      <br>
      <label for="email-input"> Email</label><br>
      <input id="email-input" type="text" placeholder="blah" [(ngModel)]="signUpInfo.email" name="emailValue">
      <br>
      <br>
      <label for="password-input"> Password </label><br>
      <input id="password-input" type="password" placeholder="*****" [(ngModel)]="signUpInfo.password" name="passwordValue">
      <br>
      <br>
      <button> Sign Up </button>
    </form>
    <br>
    <p>Already have account?
      <a [routerLink]="['/']">Log In</a>
    </p>
  </div>
</body>